/*
	COLORS:
		light pink :  #f1e4e4
		bright green: #15cda8
		dark green:   #099a97
		purple: 	  #9764c7
	Geandient:
		background: rgb(151,100,199);
		background: radial-gradient(circle, rgba(151,100,199,1) 10%, rgba(21,205,168,1) 94%);

*/
@import url(https://fonts.googleapis.com/css?family=Monoton);

.cop {
  position: relative;
  font-family: 'Monoton', cursive;
  font-size: 65px;
  line-height: 1;
  margin: 2rem;
  margin-top: 2rem;
  /* font-weight: normal; */
  background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}


*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
span {
/*
	background: rgb(174,238,209);
	background: radial-gradient(circle, rgba(174,238,209,1) 10%, rgba(168,148,233,1) 94%);
*/
	background: rgb(151,100,199);
	background: radial-gradient(circle, rgba(151,100,199,1) 10%, rgba(21,205,168,1) 94%);
	font-family: 'Press Start 2P', cursive;
}

h1{
  font-size: 2.2rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: black;
  text-align: center;
  margin: 2rem 0;
	
}


.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1rem;
	-webkit-box-shadow: 0 10px 15px #9764c7;
	box-shadow: 0 10px 15px #9764c7;
}

.back{
	background: rgb(174,238,209);
	background: radial-gradient(circle, rgba(174,238,209,1) 10%, rgba(168,148,233,1) 94%);
  color: #000;
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 1.3rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 73rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* SOCIAL LINKS ICONS */
.social-list {
	padding-left: 0;
	padding-top: 1rem;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
	color: #9764c7;
}
.social-icon i {
	font-size: 30px;
}
.social-icon i:hover {
	color: #AFFDFF;
}
.social-icon i{
	color: #9764c7;
}
/* BIO */

.bio h1 {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.bio {
  background: rgb(174,238,209);
  background: radial-gradient(circle, rgba(174,238,209,1) 10%, rgba(168,148,233,1) 94%);
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px #9764c7;
  box-shadow: 0 10px 15px #9764c7;
  margin: 0 auto;
  max-width: 460px;
  padding: 30px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
	
}

.bio-avatar {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  padding: 5px;
}

.bio-name {
 font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  font-weight: normal;
  margin: 5px 0 0 0;
}

.bio-link {
  display: inline-block;
  margin: 5px 0 0 0;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}


.bio-description {
  text-align: left;
}

.toggle-trigger {
  background: #fff;
  border: 2px solid #e5e5e5;
  color: #3a7bd5;
  margin: 10px;
  padding: 5px 10px;
}

.toggle-trigger:after {
  content: "\2193";
  margin-left: 5px;
}

.is-closed .toggle-content {
  height: 0;
  overflow: hidden;
}

.bio-desc {
	margin-top: 1rem;
	line-height:  1.3rem;
}

.bio h1 {
	color: #9764c7;
}


/* back iiner link*/ 

.back a:link {
	 text-decoration: none;
	color: black;
}
.back a:active {
	 text-decoration: none;
	color: #099a97;
}
